body {
    background-color: #FFFBCC;
    height: 100%;
}

#dashboard__navbar {
    overflow: hidden;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    padding: 5px 50px 10px 50px;
}

#navbar__logo {
    display: inline;
    height: 100%;
    width: 50px;
    margin: 10px 0px 0px 20px;
    
}

#navbar__name {
    font-size: 15px;
    display: inline;
    float: right;
    margin: 15px 20px 15px 5px;
    text-decoration: none;
    color: black;
    padding: 7px 8px 7px 8px;
}

#navbar__name:hover {
    background-color: #EEEEEE;
}

#dashboard {
    height: 100%;
}

#dashboard__title {
    margin: 30px 0px 15px 0px;
    font-size: 22px;
    font-weight: 600;
}

#dashboard__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dashboard__roomlink {
    text-decoration: none;
}

#roomcard {
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    border: 1px solid #888888;
    /*
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    */
}

#roomcard__title {
    margin: 0px;
    font-weight: 500;
    font-size: 18px;
}

#roomcard__description {
    margin-top: 20px;
    font-size: 16px;
}