.room__header {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #FD5E60;
    padding: 10px;
}

.room__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room__title {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 700;
}

.room__category {
    font-size: 60px;
    margin-bottom: 10px;
}

.room__description {
    font-size: 20px;
    color: #777777;
}

.room__subtitle {
    font-size: 40px;
    margin: 0px 0px 10px 0px;
    font-weight: 600;
}

.room__body {
    padding: 10px;
}

.newpost {
    margin: 0px 35px 40px 35px;
}

.newpost__content {
    border: 1px solid #222222;
    border-radius: 0px;
    width: 100%;
    height: 150px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    resize: none;
}

.newpost__toggle {
    margin: 15px 35px 40px 35px;
    border: 2px solid #222222;
    border-radius: 12px;
    padding: 5px 30px 5px 30px;
    font-size: 20px;
    background-color: #FFFFFF;
}

.newpost__submit {
    font-size: 20px;
    padding: 8px 25px 8px 25px;
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-color: #000000;
}

.newpost__submit:hover {
    border-color: #FD5E60;
    color: #FD5E60;
    cursor: pointer;
}

.postcard {
    margin: 15px 35px 40px 35px;
    border: 2px solid #222222;
    border-radius: 12px;
    padding: 5px 30px 5px 30px;
}

.postcard__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.postcard__content {
    white-space: pre-line;
}